<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>

    <add key="username" value=""></add>
    <add key="password" value=""></add>
    <add key="netType" value="实验室网络"></add>
    <add key="tray" value="False"></add>
    <add key="okMessage" value="True"></add>
    <add key="faileMessage" value="True"></add>
    <add key="reconnect" value="False"></add>
    <add key="reconnectTime" value="3"></add>
    <add key="recoonceMaxNum" value="3"></add>
    <add key="keepOnline" value="False"></add>
    <add key="keepIntvl" value="600"></add>
    <add key="autoRun" value="False"></add>
    <add key="autoLogin" value="False"></add>
    <add key="rememberPassword" value="True"></add>
   </appSettings>
</configuration>